* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
}

.types,
.brand {
    margin-top: 30px;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.types-wrapper,
.brand-wrapper {
    max-width: 230px;
    width: 100%;
    padding: 10px;
    background-color: #FFFFFF;
}

.types-name,
.brand-name {
    margin: 0 0 10px 15px;
}

.types-list,
.brand-list {
    list-style-type: none;
}

.types-item,
.brand-item {
    margin: 10px;
}

.brand-input {
    margin-left: 10px;
    padding: 3px 0;
    border-radius: 3px;
    border: 1px solid #000000;
    outline: 0;
    cursor: pointer;
    background: no-repeat url(/bg-main_imput.svg);
    background-size: 12px;
    background-position-x: 10px;
    background-position-y: center;
    padding-left: 30px;
}