@font-face {
	font-family: Amsdam;
	src: url(fonts/Amsdam_Regular.ttf);
}
@font-face {
	font-family: CrimsonText;
	src: url(fonts/CrimsonText-Regular.ttf);
}
.headerNav {
	display: flex;
	justify-content: space-between;
	max-width: 1240px;
	margin: 0 auto;
	padding: 10px 0;
}

.headerNav--logo {
	display: flex;
	align-items: center; 
}

.logoText {
		font-size: 18px;
		font-family: 'Montserrat', sans-serif;
		color: rgb(116, 116, 116);
		text-align: left;
		text-transform: uppercase;
		margin-left: 15px;
}


.headerNav--link {
		font-size: 12px;
		font-family: "Montserrat";
		color: rgb(168, 168, 168);
		text-transform: uppercase;
		text-align: left;
		text-decoration: none;
		margin: 0 10px;
}

.headerNav--media {
	display: flex;
	align-items: center;
}

.mediaIcon {
	width: 20px;
	height: 10px;
	background-repeat: no-repeat
}
.mediaIcon--facebook {
	background-image: url('img/Facebook.png');
}
.mediaIcon--twitter {
	background-image: url('img/Tweter.png');

}
.mediaIcon--be {
	background-image: url('img/Behance.png');
}

.headerSlider {
	height: 396px;
	width: 100%;

	background-image: url('img/header_pic.png');
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.headerSlider--title {
	font-size: 36px;
	font-family: "Amsdam";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
}

.headerSlider--text {
	font-size: 14px;
	font-family: "CrimsonText";
	color: rgb(255, 255, 255);
	text-transform: capitalize;
	margin-top: 25px;
}

.contentContainer {
	background-color: rgb(226, 226, 226);
}

.cardContainer {
	display: flex;
	justify-content: space-between;
	max-width: 1240px;
	margin: 0 auto;
    padding-top: 85px;
	flex-wrap: nowrap;
	
}

.cardContainer--cards1, .cardContainer--cards2, .cardContainer--cards3 {
	width: 370px;
	margin-bottom: 60px;
}

.cardImg {
	width: 100%;
	height: auto;
	margin-bottom: 40px;
}

.cardTitle {
	font-size: 18px;
    font-family: "Montserrat";
    color: rgb(64, 63, 63);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.125;
	margin-bottom: 40px;
}

.cardDate{
	font-size: 15.795px;
    font-family: "CrimsonText";
    color: rgb(64, 63, 63);
    font-style: italic;
    margin-bottom: 25px;
}

.cardInformation {
	display: flex;
	
	padding: 15px 0 ;
	border-top: 1px solid rgb(128, 128, 128);
	border-bottom: 1px solid rgb(128, 128, 128);
}

.cardInformation--coments, .cardInformation--view, .cardInformation--branding {
	display: flex;
	padding-right: 10px;
	align-items:center;
}

.cardInformation--coments span, .cardInformation--view span, .cardInformation--branding span {
	margin-left: 10px;
}

.cardInformation--coments img, .cardInformation--view img, .cardInformation--branding img {
	width: 15px;
	height: 15px;
}

.cardDisription {
	margin-top: 30px;
	font-size: 18px;
    font-family: "CrimsonText";
    color: rgb(64, 63, 63);
}

.cardButton {
	margin-top: 40px;
	border: 2px solid rgb(64, 63, 63);
	padding: 15px 30px 15px 25px;
	background: none;
	font-size: 15px;
    font-family: "Montserrat";
    color: rgb(64, 63, 63);
	text-transform: capitalize;
}

.conteinerCards--nomber1, .conteinerCards--nomber2, .conteinerCards--nomber3, .conteinerCards--nomber4, .conteinerCards--nomber5, .conteinerCards--nomber6, .conteinerCards--nomber7, .conteinerCards--nomber8, .conteinerCards--nomber9 {
	margin-bottom: 60px;
}

.footer {
	height: 750px;
	width: 100%;
	background-image: url('img/footer_pic.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.footerContainer {
	max-width: 1240px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 40px;
}

.footerContainer--logo {
	max-width: 1240px;
	margin: 0 auto;
	padding-top: 60px ;
}

.footerNav--logo {
	display: flex;
	justify-content: flex-start;
}

.logoText-footer {
	color: #ffffff;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin-left: 15px;
}

.footerContainer--information {
	width: 370px
}

.informationText-first {
	font-family: 'Crimson Text';
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #949494;
}

.informationText-second {
	font-family: Montserrat;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: #e3e3e3;
	margin-top: 40px;
}

.informationText-third {
	font-family: 'Crimson Text';
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #949494;
	margin-top: 25px;
}

.informationText-fourth  {
	font-family: Montserrat;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: #e3e3e3;
	margin-top: 35px;
}

.informationText-fourth a {
	font-family: Montserrat;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: #e3e3e3;
	margin-top: 35px;
	text-decoration: none;
}

.footerContainer--connection {
	width: 370px;
}

.connectionData {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.connectionFeadback {
	width: 805px;
}

.connectionFeadback input {
	width: 100%;
	height: 100px;
	border: 2.1px solid #464646;
	margin-bottom: 25px;
	background-color: rgba(0,0,0,0);
	color:#949494;
	text-transform: capitalize;
	font-style:italic ;
	padding-left: 25px;
}

.connectionData input, .dataMail--website input {
	width: 370px;
	height: 56px;
	border: 2.1px solid #464646;
	margin-bottom: 25px;
	background-color: #000000;
	color:#949494;
	text-transform: capitalize;
	font-style:italic ;
	padding-left: 25px;
}

.dataMail--website {
	width: 370px;
	display: flex;
	flex-wrap: wrap;
	height: 162px;
}

.connectionButton {
	background-color: #464646;	
	border: none;
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 400;
	color: #e3e3e3;
	text-transform: capitalize;
	padding: 10px 50px;
}

.footerNav--media {
	display: flex;
	margin-top: 35px;
	
}

.ending {
	max-width: 1240px;
	margin: 0 auto;
	padding-top: 60px ;
}

.textEnd {
	font-family: 'Crimson Text';
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 0.1em;
	color: #949494;
	text-transform: capitalize;
	margin-top: 40px;
	margin-bottom: 35px;
}

.lineEnd  {
	margin-top: 60px;
	background-repeat: no-repeat;
	background-image: url(img/line_end.png);
	background-size: cover;
}

